p{
    margin-right: 50px;
    margin-left: 50px;
    
}
img{
    border:1px solid #021a40;
}
h2{
    padding-left: 310px;
    padding-right: 310px;
}
footer{
    margin-left: 900px;
    padding-top: 50px;
    opacity: 0.7
    ;
}
html{
    background-color:transparent;
    background-image: "https://static.pexels.com/photos/380768/pexels-photo-380768.jpeg";
    
}
.content{
    background-color: #F9F9F9;
    opacity:0.85;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px; 
    padding-top: 5px;
    padding-bottom: 5px;
}
body{
    background-image: url("https://static.pexels.com/photos/380768/pexels-photo-380768.jpeg");
    background-repeat: repeat-y;
    background-size: cover;
}
